In [16]:
import os.path
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore", category=UserWarning)  # ignora los warnings


inpath = "C:/Users/Diego Torres/OneDrive - Manar Technologies SAS/Documentos compartidos/01_Proyectos/02_Externos/Olimpica/06_ProyectoTAO/03_Loyalty/01_CustomerAnalytics_1/01_Levantamiento/01_Modelo_RFM/CSVs Pruebas/"
outpath = "C:/Users/Diego Torres/OneDrive - Manar Technologies SAS/Documentos compartidos/01_Proyectos/02_Externos/Olimpica/06_ProyectoTAO/03_Loyalty/"

df = pd.read_csv(inpath + 'PLUSAPS_EJEMPLO.csv', delimiter=',', decimal=",")

In [17]:
print(df.shape)
print(' ')


print(df.head(6))
print(' ')

(3361, 38)

      PLU_SAP                                         PLU_Nombre ABC_nal
0     2408190     2408190  BLUSA ROVITEX TEEN 6144193 12 GRIS JP       C  \
1  2406078043    2406078043  VESTIDOS GEF 720916, 10, AMAR 15019
2  2451162003    2451162003  MEDIA DAKOTA GIRL 2108X5, 4-6, STDO       C
3     2452767     2452767  CONJ DAKOTA KIDS DKK-273438 10 BCO...
4     2465997         2465997  CONJ BRANDILI 25175.044 4 NATURAL       C
5  2451211004    2451211004  CAMISETA GAMIN NÑA 402D003, 8, ROSA       C

  ABC_cat Pais Origen UniMedida            EAN
0       C   BR      I        UN  7909537649306  \
1           CO      N        UN  7703081992471
2       A   CO      N        UN  7700136055495
3           CN      I        UN  7700136268109
4       A   BR      I        UN  7909820221455
5       C   CO      N        UN  7705261400561

                                  Articulo TipoMarca  ...
0    BLUSA ROVITEX TEEN 6144193 12 GRIS JP        MP  ...  \
1      VESTIDOS GEF 720916, 10, AMAR 15019        CO  ...
2      MEDIA DAKOTA GIRL 2108X5, 4-6, STDO        MP  ...
3  CONJ DAKOTA KIDS DKK-273438 10 BCO AZUL        MP  ...
4        CONJ BRANDILI 25175.044 4 NATURAL        MP  ...
5      CAMISETA GAMIN NÑA 402D003, 8, ROSA        CO  ...

           SubSegmento1          SubSegmento2 Dirección Nal.  TipoCat
0                BLUSAS                BLUSAS       TEXTILES  Almacén  \
1              VESTIDOS              VESTIDOS       TEXTILES  Almacén
2                MEDIAS                MEDIAS       TEXTILES  Almacén
3  ROPA- ACCES TEMP NAV  ROPA- ACCES TEMP NAV       TEXTILES  Almacén
4             CONJUNTOS        CONJUNTO SHORT       TEXTILES  Almacén
5             CAMISETAS             CAMISETAS       TEXTILES  Almacén

  Agrupación  Dias Obj Neg  Dias Obj   Seccion  TipoSec  GrupoSec
0     TEXTIL          97.0     129.0  Infantil  Almacén  Textiles
1     TEXTIL          97.0     129.0  Infantil  Almacén  Textiles
2     TEXTIL          97.0     129.0  Infantil  Almacén  Textiles
3     TEXTIL          97.0     129.0  Infantil  Almacén  Textiles
4     TEXTIL          97.0     129.0  Infantil  Almacén  Textiles
5     TEXTIL          97.0     129.0  Infantil  Almacén  Textiles

[6 rows x 38 columns]

In [19]:

# Obtener los tipos de datos de las columnas
column_types = df.dtypes

# Obtener el número de valores no nulos en cada columna
non_null_counts = df.count()

# Crear DataFrame con la información obtenida
info_df = pd.DataFrame({'Column Types': column_types,
                       'Non-null Counts': non_null_counts})

# Imprimir el DataFrame resultante
print(info_df)


info_df.to_csv(outpath + 'Info.csv')

                    Column Types  Non-null Counts
PLU_SAP                    int64             3361
PLU_Nombre                object             3361
ABC_nal                   object             3361
ABC_cat                   object             3361
Pais                      object             3361
Origen                    object             3361
UniMedida                 object             3361
EAN                        int64             3361
Articulo                  object             3361
TipoMarca                 object             3361
Marca                     object             3138
ClaseMarca                object             3361
FuentAprov                object             3361
Consignado                object             3361
Contenido                 object             3361
Explosion                  int64             3361
ExcAgotados                int64             3361
PesoBruto                 object             3361
UnidadPesoBruto           object             3361
Longitud                  object             3361
Ancho                     object             3361
Altura                    object             3361
UnidadMedida              object             3361
UnidadContenidoNeto       object             3361
Departamento              object             3347
Categoria                 object             3347
SubCategoria              object             3347
Segmento                  object             3347
SubSegmento1              object             3347
SubSegmento2              object             3347
Dirección Nal.            object             3335
TipoCat                   object             3335
Agrupación                object             3335
Dias Obj Neg             float64             3335
Dias Obj                 float64             3335
Seccion                   object             3361
TipoSec                   object             3361
GrupoSec                  object             3361

In [5]:
print(' ')
print('Nulos por campo:')
print(df.isnull().sum())  # total de nulls por variable

Nulos por campo:
CENTRO            0
Dirección         0
ZONA              0
CIU               0
Nombre_Centro     0
TipoCentro        0
Distrito          0
Región            0
Formato           0
Ciudad            0
ANTIGUEDAD        0
Superficie        0
Estrato           0
Departamento      0
Ciudad_DANE      26
dtype: int64

In [27]:
print(df_ventas[['OPERACION_MP', 'MEDIO_PAGO']].head(6))
print(' ')

                  OPERACION_MP  MEDIO_PAGO
0               0805 -EFECTIVO         NaN
1               0805 -EFECTIVO         NaN
2               0805 -EFECTIVO         NaN
3  0430 -TCO SERFINANSA  REDES         NaN
4               0805 -EFECTIVO         NaN
5  0430 -TCO SERFINANSA  REDES         NaN

In [9]:
df['ANTIGUEDAD'].unique()

array(['MISMO', 'NUEVO'], dtype=object)