In [5]:
# from https://www.programiz.com/python-programming/online-compiler/


# lista de tuplas, convertible en pd.Series() o pd.DataFrame()
students = [("Allen Strong", "Computer Science"),
            ("Albert Einstein", "Engineering"),
            ("Farrah Finn", "Fine Arts"),
            ("Monica Taylor", "IT"),
            ("Vikas Mehta", "Computer Engineering"),
            ("Jean Taylor", "Finance")]

In [8]:
# Convert students to a list of dictionaries
tmp = [{name, major} for name, major in students]
print(tmp)

[{'Computer Science', 'Allen Strong'}, {'Engineering', 'Albert Einstein'}, {'Fine Arts', 'Farrah Finn'}, {'Monica Taylor', 'IT'}, {'Vikas Mehta', 'Computer Engineering'}, {'Finance', 'Jean Taylor'}]

In [3]:
# Convert students to a list of dictionaries
students_dict = [{"name": name, "major": major} for name, major in students]
print(students_dict)

[{'name': 'Allen Strong', 'major': 'Computer Science'}, {'name': 'Albert Einstein', 'major': 'Engineering'}, {'name': 'Farrah Finn', 'major': 'Fine Arts'}, {'name': 'Monica Taylor', 'major': 'IT'}, {'name': 'Vikas Mehta', 'major': 'Computer Engineering'}, {'name': 'Jean Taylor', 'major': 'Finance'}]

In [14]:
students_dict[0:2]

[{'name': 'Allen Strong', 'major': 'Computer Science'},
 {'name': 'Albert Einstein', 'major': 'Engineering'}]

In [5]:
# Extraer solo los nombres de los estudiantes en una lista
student_names = [students_dict["name"] for students_dict in students_dict]
print(student_names)

['Allen Strong', 'Albert Einstein', 'Farrah Finn', 'Monica Taylor', 'Vikas Mehta', 'Jean Taylor']

In [4]:
# Crear una lista de tuplas con pares (nombre, carrera)
name_major_pairs = [(students_dict["name"], students_dict["major"]) for students_dict in students_dict]
print(name_major_pairs)

[('Allen Strong', 'Computer Science'), ('Albert Einstein', 'Engineering'), ('Farrah Finn', 'Fine Arts'), ('Monica Taylor', 'IT'), ('Vikas Mehta', 'Computer Engineering'), ('Jean Taylor', 'Finance')]

In [5]:
# iter()
my_list = [1, 2, 3, 4]
my_iterator = iter(my_list)

print(my_iterator)
print(next(my_iterator))  # Output: 1
print(next(my_iterator))  # Output: 2

# for item in my_iterator:
#     print(item)           # Output: 3, 4

<list_iterator object at 0x000002251865FF10>
1
2

In [11]:
my_list = [1, 2, 3, 4]

for item in my_list:
    print(item)     
    print(''.join(sorted(item)))   # join solo para strings

1

TypeError: 'int' object is not iterable