In [ ]:
Given the following two tables, write a query that returns the number of campaigns and total amount of impressions per advertiser during October 2022. 
If an advertiser had no campaigns, or a campaign had no impressions then return a row with 0 (instead of dropping the row).

advertiser_table
Advertiser_id, campaign_id
a1,c1
a1,c2
a2,c3

campaign_table
campaign_id, date, impression
c1, 2022-10-01, 10000
c1, 2022-10-02, 20000
c2, 2022-10-01, 10000

SELECT 
 a.Advertiser_id,
 count(DISTINCT a.campaign_id) as n_campaigns,
 coalesce(sum(c.impression),0) as total_impressions
FROM advertiser_table a 
LEFT JOIN campaign_table c
  ON (a.campaign_id = c.campaign_id)
  AND c.date BETWEEN '2022-10-01' and '2022-10-31'
GROUP BY a.Advertiser_id






Let's call an array A a mountain if the following properties hold:
- A.length >= 3
- There exists some 0 < i < A.length - 1 such that A[0] < A[1] < ... A[i-1] < A[i] > A[i+1] > ... > A[A.length - 1]
- Given an array that is definitely a mountain, return any i such that A[0] < A[1] < ... A[i-1] < A[i] > A[i+1] > ... > A[A.length - 1].

Example
Given the array A = [0 1 2 3 6 4 2 1] the peak is at the index 4.
So, your function should return the number 4

def mountain (A):
	for i range(1, len(A) -1):
  	if A[i - 1] < A[i] and A[i] > A[i + 1]:
    	return i