# Introducción a la programación con Python

En este notebook se muestra el código de las utilidades más escenciales de Python.

Dicho código fue escrito sobre la marcha en la clase dada, por lo que, para tener una mayor contexto, te recomendamos revisar la grabación de tu clase, o bien, acompañar este notebook con las diapositivas proporcionadas por tu sensei.

## Variables y tipos

In [8]:
edad = 33

In [9]:
edad

33

In [15]:
nombre = 'Mali'

In [16]:
nombre

'Mali'

## Listas

In [17]:
lista = ['abcd', 389, 2.25, 'Willemien', False]

In [20]:
x = lista[0]

In [21]:
x

'abcd'

In [25]:
lista[0:4]

['abcd', 389, 2.25, 'Willemien']

In [29]:
lista[-3]

2.25

In [31]:
medidas = ['Julio', 1.80, 80, 'Ana', 1.70]

In [32]:
medidas[1]

1.8

## Diccionarios

In [80]:
x = { 'estatura': 1.90, 'peso': 80 }

In [81]:
medidas_dict = { 'Julio': x, 'Ana': { 'estatura': 1.70 } }

In [43]:
medidas_dict['Omar'] = { 'estatura': 1.82, 'peso': 77 }

In [84]:
x, y = medidas_dict['Julio']['estatura'], medidas_dict['Julio']['peso']

In [85]:
x

1.9

In [86]:
y

80

In [52]:
numero_final = 1 + 2 * 3 / 4

In [53]:
numero_final

2.5

In [55]:
sapere_aude = "sapere" + "aude"
sapere_aude

'sapereaude'

In [57]:
'manzana' == 'banana'

False

In [62]:
'manzana' != 'banana'

True

In [77]:
'aaaa' >= 'AAAA'

True

In [78]:
'aaaa' <= 'AAAA'

False

In [66]:
not True

False

## Condicionales

In [1]:
a = 200
b = 33

In [2]:
if b > a:
    print("b es más grande que a")
    c = 100
    print("Hola")
else:
    print("b no es más grande que a")

b no es más grande que a

In [5]:
if a > b: print('a es mayor que b')

a es mayor que b

In [8]:
name = "Will"
age = 23
if name == 'Will' or age == 24:
    print("Tu nombre es Will, y tienes 24 años")

Tu nombre es Will, y tienes 24 años

## Ciclos

In [9]:
numeros = [1,2,3,4]
for n in numeros:
    print(n)

1
2
3
4

In [10]:
2 in [1,2]

True

In [15]:
for n in range(0, len(numeros)):
    print('Hola a todos')

Hola a todos
Hola a todos
Hola a todos
Hola a todos

In [18]:
d = {'Luis':1,'Ana':2,'Adriana':7}
for i in d:
    print(d[i])

1
2
7

In [21]:
for key, value in d.items():
    print(value)

1
2
7

In [22]:
for i in d.keys():
    print(d[i])

1
2
7

In [23]:
d.keys()

dict_keys(['Luis', 'Ana', 'Adriana'])

In [24]:
d.items()

dict_items([('Luis', 1), ('Ana', 2), ('Adriana', 7)])

In [25]:
list1 = []
list2 = []
list3=list1
 
if (list1 == list2):
    print("True")
else:
    print("False")

True

In [26]:
if (list1 is list2):
    print("True")
else:
    print("False")

False

In [27]:
 if (list1 is list3):
    print("Verdadero")
else:    
    print("False")

True

In [28]:
list3 = list3 + list2
 
if (list1 is list3):
    print("True")
else:    
    print("False")

False

## Funciones

In [29]:
def mi_funcion():
    print("Hola desde mi funcion!")

In [30]:
mi_funcion()

Hola desde mi funcion!

In [51]:
def mi_funcion_con_argumentos(username, greeting):
    print("Hola, %.3f , Desde mi funcion :D, te deseo %s"%(username, greeting))

In [52]:
mi_funcion_con_argumentos(5.67, 'una feliz clase')

Hola, 5.670 , Desde mi funcion :D, te deseo una feliz clase

Los valores resultantes dentro de una función solo existen dentro la función a menos que sean retornados

In [71]:
valor1 = 1
valor2 = 2

In [72]:
def suma_dos_numeros(uno, dos):
    valor1 = 5
    return uno + dos

In [73]:
suma_total = suma_dos_numeros(valor1, valor2) + 4

In [74]:
suma_total

7

In [ ]:
def suma_dos_numeros(uno, dos):