In [4]:
# Pasos:
#pip install mysql-connector-python
#pip install mysql

import pandas as pd
from datetime import timedelta
import mysql.connector
#import MySQLdb.connector
#from MySQLdb import connector


#### FUNCIONES
def fechas_consecutivas(lista_fechas, lista_categorias):
    categorias_unicas = set(lista_categorias) # set saca valores unicos de una lista
    resultado_por_categoria = {}

    for categoria in categorias_unicas:
        # Esta linea trae la lista de fechas que correspondan con el actual valor de categoria mediante una comprension de lista
        fechas_categoria = [fecha for fecha, cat in zip(lista_fechas, lista_categorias) if cat == categoria] # zip une dos listas en una tupla
        contador_actual = 0
        contador_maximo = 0

        for i in range(len(fechas_categoria) - 1): # -1 porque se omite la ultima fecha del array
            #fecha_actual = datetime.strptime(fechas_categoria[i], '%Y-%m-%d')
            #fecha_siguiente = datetime.strptime(fechas_categoria[i + 1], '%Y-%m-%d')
            fecha_actual = fechas_categoria[i]
            fecha_siguiente = fechas_categoria[i+1]
            
            suma_siete_dias = fecha_actual + timedelta(days=7)
            
            if suma_siete_dias == fecha_siguiente:
                contador_actual += 1
                contador_maximo = max(contador_maximo, contador_actual)
            else:
                contador_actual = 0
        
        resultado_por_categoria[categoria] = contador_maximo
    
    return pd.DataFrame(resultado_por_categoria.items(), columns=['Categoria', 'ContadorMaximo'])

In [12]:
# crawl the keys from a txt file
keys = pd.read_csv("C:/Users/Diego Torres/OneDrive - Manar Technologies SAS/Documentos compartidos/01_Proyectos/02_Externos/AlmacenesSI/02_ProyectoBI/576_ALMACENES_SI_PREDICCION_DEMANDA/2. ExploraciÃ³n/InsumosCliente/credencialesBD.txt")

# Creo variables para cada fila del DataFrame que contiene las credenciales de la bd
for index, row in keys.iterrows():
    variable_name = row['key']
    variable_value = row['value']
    globals()[variable_name] = variable_value


connection = mysql.connector.connect(host=host,
        port=port,
        user=user,
        password=password,
        database=database)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000026A31BBEB90>

In [13]:
# Crear un cursor, el cursor sera el objeto que contiene las funciones para extraer las tablas de mysql a python
cursor = connection.cursor()

In [14]:
""" # Ejecutar consultas
## Exploracion tabla sales
cursor.execute("SELECT DISTINCT StoreId FROM analyticalways.sales")
results = cursor.fetchall()
print(sorted(results)) # a list
print(len(results)) """

' # Ejecutar consultas\n## Exploracion tabla sales\ncursor.execute("SELECT DISTINCT StoreId FROM analyticalways.sales")\nresults = cursor.fetchall()\nprint(sorted(results)) # a list\nprint(len(results)) '

In [28]:
## Numero de SKUs distintos con historia en cada uno de los 27 almacenes
cursor.execute("WITH temp AS (\
        SELECT DISTINCT\
         a.StoreId,\
         ProductId\
        FROM analyticalways.sales a\
        INNER JOIN analyticalways.store_information b\
          ON a.StoreId = b.StoreId\
        )\
        \
        SELECT\
         StoreId,\
         count(ProductId) counts\
        FROM temp\
        GROUP BY StoreId")
results = cursor.fetchall()

# Obtener los nombres de las columnas desde el cursor
column_names = [desc[0] for desc in cursor.description]
skus_per_store = pd.DataFrame(results, columns=column_names)
#df_ordenado_multi = df.sort_values(by=['Edad', 'Puntaje'], ascending=[True, False])
print(skus_per_store.sort_values(by='counts', ascending=False))
print(skus_per_store['counts'].sum())

    StoreId  counts
0   1010100  229398
2   1010800  136079
4   1011000  132290
1   1010400   68277
10  1014200   60654
8   1010900   43302
12  1012300   40583
9   1013700   35210
3   1011400   28168
5   1010200   27980
6   1010300   27510
11  1014500   10837
7   1010500    6740
13  1013100    5025
14  1014100    4474
15  1014300    3515
16  1014600     842
860884

In [25]:
## Base para usar en el modelamiento
# nota: comillas dobles en CONCAT arroja un error, usar sencillas
cursor.execute("WITH temp AS (\
        SELECT\
         Date,\
         CONCAT(a.StoreId,'_',ProductId) Store_SKU,\
         DATE_ADD(Date, INTERVAL (6 - WEEKDAY(Date)) DAY) AS UltimaFechaSemana,\
         AmountTaxesExcluded\
        FROM analyticalways.sales a\
        INNER JOIN analyticalways.store_information b\
          ON a.StoreId = b.StoreId\
        )\
        \
        SELECT\
         Store_SKU,\
         UltimaFechaSemana,\
         sum(AmountTaxesExcluded) Sales\
        FROM temp\
        WHERE AmountTaxesExcluded > 0\
        GROUP BY Store_SKU,UltimaFechaSemana\
        ORDER BY Store_SKU,UltimaFechaSemana")
results = cursor.fetchall()

# Obtener los nombres de las columnas desde el cursor
column_names = [desc[0] for desc in cursor.description]
sales_forecast = pd.DataFrame(results, columns=column_names)
print(' ')
print('Dimensiones:')
print(sales_forecast.shape)

Dimensiones:
(6585884, 3)

In [17]:
#codigo que genera el numero de registros consecutivos por cada serie
#test_2 = fechas_consecutivas(sales_forecast['UltimaFechaSemana'],sales_forecast['Store_SKU'])

In [30]:
# Calcular la tabla de frecuencia
test = sales_forecast['Store_SKU'].value_counts().reset_index() #equivalente a .table() de R
#test = test.assign(Continued_count = fechas_consecutivas('UltimaFechaSemana'))

# flag para mas de 20 puntos
test['apto'] = test['count'].apply(lambda x: 'Si' if x > 20 else 'No')
test['apto'].value_counts().reset_index()

  apto   count
0   No  794574
1   Si   65102

In [19]:
print(' ')
print('Dimensiones:')
print(test.shape)

Dimensiones:
(859873, 3)

In [20]:
print(test.head(20))

print(test.tail(20))

print(test[test['count']== 10])

                    Store_SKU  count apto
0   1010100_228456.0005.280CM    286   Si
1   1010100_234651.0005.148CM    282   Si
2      1011000_87614.0999.EE9    280   Si
3   1011000_228456.0005.280CM    280   Si
4   1011400_228456.0005.280CM    278   Si
5     1010200_226100.0005.EST    278   Si
6      1010100_87614.0999.EE9    278   Si
7   1010200_228456.0005.280CM    278   Si
8     1010100_100608.0005.EO2    278   Si
9   1010100_220760.1090.280CM    274   Si
10  1010100_220760.9010.280CM    274   Si
11  1011400_234651.0005.148CM    274   Si
12  1010100_234651.7930.148CM    272   Si
13  1010100_220760.0005.280CM    271   Si
14  1010200_220760.9010.280CM    271   Si
15  1010200_220760.1090.280CM    270   Si
16  1011000_234651.0005.148CM    269   Si
17  1012300_234651.0005.148CM    266   Si
18    1010100_209361.1000.UNI    265   Si
19    1010100_226100.0005.EST    264   Si
                       Store_SKU  count apto
859853   1010100_231978.9996.TXL      1   No
859854  1010800_251776.7150.MS24      1   No
859855  1010800_251776.7150.MS18      1   No
859856   1010800_251776.7150.B05      1   No
859857   1010800_251776.7150.B04      1   No
859858   1010800_251776.7150.B03      1   No
859859   1010800_251776.7150.B02      1   No
859860   1010800_251775.2605.B05      1   No
859861   1010800_251775.2605.B04      1   No
859862   1012300_226336.7955.TXL      1   No
859863   1010800_251775.0005.B05      1   No
859864   1010800_251775.0005.B04      1   No
859865    1010100_231976.9996.TS      1   No
859866   1010800_251775.0005.B03      1   No
859867    1010800_251772.7930.TM      1   No
859868    1012300_226335.1100.TM      1   No
859869    1012300_226336.4710.TS      1   No
859870    1010800_251772.7840.TM      1   No
859871    1012300_226336.7955.TS      1   No
859872   1014600_271974.7686.TXL      1   No
                        Store_SKU  count apto
154523    1010300_256084.0005.LF2     10   Si
154524    1010400_243632.3280.EJ8     10   Si
154525     1014200_263964.4815.TM     10   Si
154526  1012300_258529.2024.148CM     10   Si
154527  1010400_201202.3465.150CM     10   Si
...                           ...    ...  ...
173497  1011000_225413.7590.140CM     10   Si
173498  1011000_225402.7101.150CM     10   Si
173499    1010100_204759.4840.32B     10   Si
173500     1010100_245590.1334.TL     10   Si
173501     1010100_269256.3735.TL     10   Si

[18979 rows x 3 columns]

In [21]:
#ej serie con el maximo de datos: >280
sales_forecast[sales_forecast['Store_SKU'] == '1010100_228456.0005.280CM'].sort_values(by='UltimaFechaSemana', ascending=True).head(40)

                        Store_SKU UltimaFechaSemana      Sales
787585  1010100_228456.0005.280CM        2018-01-07  513475.75
787586  1010100_228456.0005.280CM        2018-01-14  420314.28
787587  1010100_228456.0005.280CM        2018-01-21  369285.72
787588  1010100_228456.0005.280CM        2018-01-28   40285.72
787589  1010100_228456.0005.280CM        2018-02-04  327432.15
787590  1010100_228456.0005.280CM        2018-02-11  308382.36
787591  1010100_228456.0005.280CM        2018-02-18  469622.77
787592  1010100_228456.0005.280CM        2018-02-25  559787.40
787593  1010100_228456.0005.280CM        2018-03-04  223210.10
787594  1010100_228456.0005.280CM        2018-03-11  903739.06
787595  1010100_228456.0005.280CM        2018-03-18  188538.63
787596  1010100_228456.0005.280CM        2018-03-25  200672.27
787597  1010100_228456.0005.280CM        2018-04-01  116974.78
787598  1010100_228456.0005.280CM        2018-04-08  101619.33
787599  1010100_228456.0005.280CM        2018-04-15  691834.60
787600  1010100_228456.0005.280CM        2018-04-22  259248.11
787601  1010100_228456.0005.280CM        2018-04-29  276076.61
787602  1010100_228456.0005.280CM        2018-05-06  255516.82
787603  1010100_228456.0005.280CM        2018-05-13  318721.10
787604  1010100_228456.0005.280CM        2018-05-20  156247.05
787605  1010100_228456.0005.280CM        2018-05-27  439959.84
787606  1010100_228456.0005.280CM        2018-06-03  388662.30
787607  1010100_228456.0005.280CM        2018-06-10  214986.55
787608  1010100_228456.0005.280CM        2018-06-17  808255.47
787609  1010100_228456.0005.280CM        2018-06-24  145835.25
787610  1010100_228456.0005.280CM        2018-07-01   17621.85
787611  1010100_228456.0005.280CM        2018-07-08  319483.99
787612  1010100_228456.0005.280CM        2018-07-15  364184.89
787613  1010100_228456.0005.280CM        2018-07-22  364184.88
787614  1010100_228456.0005.280CM        2018-07-29  355256.27
787615  1010100_228456.0005.280CM        2018-08-05  183854.62
787616  1010100_228456.0005.280CM        2018-08-12  152722.70
787617  1010100_228456.0005.280CM        2018-08-19  202358.07
787618  1010100_228456.0005.280CM        2018-08-26  574472.26
787619  1010100_228456.0005.280CM        2018-09-02  406477.32
787620  1010100_228456.0005.280CM        2018-09-09  588306.97
787621  1010100_228456.0005.280CM        2018-09-16  432708.52
787622  1010100_228456.0005.280CM        2018-09-23  299499.98
787623  1010100_228456.0005.280CM        2018-09-30  797324.37
787624  1010100_228456.0005.280CM        2018-10-07  670477.32

In [22]:
#ej serie con 1 dato
sales_forecast[sales_forecast['Store_SKU'] == '1014100_245196.3745.TXS'].sort_values(by='UltimaFechaSemana', ascending=True).head(40)

                       Store_SKU UltimaFechaSemana      Sales
6149149  1014100_245196.3745.TXS        2020-02-02  100831.93
6149150  1014100_245196.3745.TXS        2020-08-09  100831.93
6149151  1014100_245196.3745.TXS        2020-12-13  117638.66
6149152  1014100_245196.3745.TXS        2021-02-21  100833.61
6149153  1014100_245196.3745.TXS        2021-07-11   63021.01
6149154  1014100_245196.3745.TXS        2021-09-19   85709.24
6149155  1014100_245196.3745.TXS        2021-10-03   85709.24
6149156  1014100_245196.3745.TXS        2021-10-17   85709.24
6149157  1014100_245196.3745.TXS        2021-11-14   85709.24
6149158  1014100_245196.3745.TXS        2021-11-28  155453.78

In [23]:
#ej serie con 1 dato
sales_forecast[sales_forecast['Store_SKU'] == '1014600_271974.7686.TXL'].sort_values(by='UltimaFechaSemana', ascending=True).head(40)

                       Store_SKU UltimaFechaSemana     Sales
6586105  1014600_271974.7686.TXL        2023-06-18  87388.24

In [10]:
# Ejecutar consultas
""" cursor.execute("SELECT StoreId, count(*) rowss FROM analyticalways.actual_stock GROUP BY StoreId;")
results = cursor.fetchall()
print(pd.DataFrame(results)) """

In [20]:
# Ejecutar consultas
""" cursor.execute("SELECT\
                  YEAR(Date) anio,\
                  count(1) rowss\
                FROM analyticalways.sales\
                GROUP BY anio")
results = cursor.fetchall()
print(pd.DataFrame(results)) """

      0        1
0  2018  2794481
1  2019  2671189
2  2021  1937376
3  2022  1848100
4  2023  1031461
5  2020  1908559

In [26]:
# Ejecutar consultas
""" cursor.execute("SELECT * FROM analyticalways.sales")
results = cursor.fetchall() """

In [30]:
# Ejecutar consultas
""" cursor.execute("SELECT count(1) FROM analyticalways.sales")
results = cursor.fetchall()
print(results) """

[(12195488,)]

In [125]:

#### MAESTRA PRODUCTOS
cursor.execute("SELECT *\
                FROM analyticalways.product_information ;")
results = cursor.fetchall()
# Obtener los nombres de las columnas desde el cursor
column_names = [desc[0] for desc in cursor.description]
products = pd.DataFrame(results, columns=column_names)

#################
# Descriptivos
print(products.sample(10))
print(' ')
print('Summary:')
sales.info()
print(' ')
print('Descriptivos:')
print(products.describe().round(2).transpose())
print(' ')
print('Nulos por campo:')
print(products.isnull().sum())  # total de nulls por variable
print(' ')
print('Dimensiones:')
print(products.shape)

                        ProductId
239336  183890.0860.TL             \
31487   137085.0005.T04
447501  216630.1100.TM
115512  162183.2054.147CM
223832  181796.9996.TM

                                            RootProductId      Cost     Price
239336  183890.0860                                   ...  11469.00   5462.18  \
31487   137085.0005                                   ...   6678.31  11887.93
447501  216630.1100                                   ...  10010.00  27310.92
115512  162183.2054                                   ...   1970.00   2577.59
223832  181796.9996                                   ...  11000.00  20588.24

                                Level1                          Level2
239336  VESTUARIO EXTERIOR              Top                             \
31487   UNIFORMES ESCOLARES             Top
447501  VESTUARIO EXTERIOR              Top
115512  TELAS ALMACEN SI                Top
223832  VESTUARIO EXTERIOR              Top

                                Level3                          Level4
239336  MASCULINO                       Busos                           \
31487   UNISEX ESCOLAR                  Camisetas
447501  FEMENINO                        Blusas
115512  MODA                            Chifones
223832  FEMENINO                        Blusas

                                Level5                          Level6  ...
239336  Manga corta                     L                               ...  \
31487   No aplica                       4                               ...
447501  Manga sisa                      M                               ...
115512  Chifones estampados             147 CM                          ...
223832  Manga sisa                      M                               ...

                               Level10                         Level11
239336  Bicolor                         MODA                            \
31487   Unicolor                        ATEMPORALES (ESENCIALES)
447501  Unicolor                        MODA
115512  Estampado                       MODA
223832  Unicolor                        MODA

             Level12 Level13 Level14                    Tipology EAN
239336        474256     250      UN  VESTUARIO_EXTERIOR              \
31487         196023     248      UN  UNIFORMES_ESCOLARES
447501        925737     250      UN  VESTUARIO_EXTERIOR
115512        277368     240      MT  TELAS
223832        386655     250      UN  VESTUARIO_EXTERIOR

                                  Size ThumbnailUrl
239336  L                                            \
31487   4
447501  M
115512  147 CM
223832  M

                           Description
239336                 BUSO 013-13 MAS
31487   CSETA FISICA NINA COLEGIO ALEM
447501             BLUSA 300652 MS ARG
115512  CHIFFON YORYU 82051 DPMC 166 5
223832            BLUSA 11979 MS MERCU

[5 rows x 23 columns]

Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   StoreId  27 non-null     object
 1   counts   27 non-null     int64
dtypes: int64(1), object(1)
memory usage: 564.0+ bytes

Descriptivos:
                count  unique
ProductId      796387  796387  \
RootProductId  796387  325506
Cost           796387  118273
Price          796387    3560
Level1         796387      28
Level2         796387      33
Level3         796387      67
Level4         796387     415
Level5         796387     602
Level6         796387     363
Level7         796387    2814
Level8         796387      44
Level9         796387     265
Level10        796387      68
Level11        796387      12
Level12        796387  796387
Level13        796387      28
Level14        796387      10
Tipology       796387       9
EAN            796387       1
Size           796387    3109
ThumbnailUrl   796387       1
Description    796387  163217

                                                             top    freq
ProductId                              1.0999.UNI                      1
RootProductId  42103.0005                                    ...      24
Cost                                                        1.00   74167
Price                                                       0.00   41308
Level1                            VESTUARIO EXTERIOR              305656
Level2                            Top                             454471
Level3                            FEMENINO                        314774
Level4                            Blusas                          145605
Level5                            Manga corta                     151520
Level6                            L                                73698
Level7                                                            725054
Level8                            CASUAL WEAR                      97729
Level9                            Staff                           140546
Level10                           Unicolor                        501132
Level11                           MODA                            545071
Level12                                                   170315       1
Level13                                                      250  305656
Level14                                                       UN  631318
Tipology                              VESTUARIO_EXTERIOR          305656
EAN                                                               796387
Size                              L                                73693
ThumbnailUrl                                                      796387
Description                             CONJUNTO LAURA HOME STAR     774

Nulos por campo:
ProductId        0
RootProductId    0
Cost             0
Price            0
Level1           0
Level2           0
Level3           0
Level4           0
Level5           0
Level6           0
Level7           0
Level8           0
Level9           0
Level10          0
Level11          0
Level12          0
Level13          0
Level14          0
Tipology         0
EAN              0
Size             0
ThumbnailUrl     0
Description      0
dtype: int64

Dimensiones:
(796387, 23)

In [146]:

#### MAESTRA TIENDAS
cursor.execute("SELECT *\
                FROM analyticalways.store_information ;")
results = cursor.fetchall()
# Obtener los nombres de las columnas desde el cursor
column_names = [desc[0] for desc in cursor.description]
stores = pd.DataFrame(results, columns=column_names)

#################
# Descriptivos
print(stores.head(10))
print(' ')
print('Summary:')
stores.info()
print(' ')
print('Descriptivos:')
print(stores.describe().round(2).transpose())
print(' ')
print('Nulos por campo:')
print(stores.isnull().sum())  # total de nulls por variable
print(' ')
print('Dimensiones:')
print(stores.shape)

   StoreId                    Name Channel Email Description StoreType
0  1010100                SI No. 1                                      \
1  1010200                SI No. 2
2  1010300                 HOGARYS
3  1010400                SI NORTE
4  1010500          TIENDA VIRTUAL
5  1010800  SI PALMIRA LLANOGRANDE
6  1010900          SI UNICO STAFF
7  1011000              SI CALIMA
8  1011400        SI OUTLET CENTRO
9  1012300                 ATELIER

  ClassifficationLevels
0
1
2
3
4
5
6
7
8
9

Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   StoreId                17 non-null     object
 1   Name                   17 non-null     object
 2   Channel                17 non-null     object
 3   Email                  17 non-null     object
 4   Description            17 non-null     object
 5   StoreType              17 non-null     object
 6   ClassifficationLevels  17 non-null     object
dtypes: object(7)
memory usage: 1.1+ KB

Descriptivos:
                      count unique       top freq
StoreId                  17     17   1010100    1
Name                     17     17  SI No. 1    1
Channel                  17      1             17
Email                    17      1             17
Description              17      1             17
StoreType                17      1             17
ClassifficationLevels    17      1             17

Nulos por campo:
StoreId                  0
Name                     0
Channel                  0
Email                    0
Description              0
StoreType                0
ClassifficationLevels    0
dtype: int64

Dimensiones:
(17, 7)